.normal {
               stroke:rgb(188, 148, 225);
               stroke-width: 2;
               transform: translate(0px 0px)
                rotateY('0');
}


.highlight{
    stroke:rgb(148, 225, 169);
    stroke-width: 4;
}

.relocate{
    transform: translate(200px 200px)
                rotateY('180');
}